/* ini css */
body{
    font-family: sans-serif;
}
main{
    display: flex;
    margin: 10px;
    font-family: sans-serif;
    text-align: justify;
}
.main-content{
    border: 1px solid;
    border-radius: 25px;
    flex: 1;
    padding: 12px;
    background-color: #E0FFFF;
    margin: 10px;
}
/* background untuk form isi dan hasil */
.bg-form {
    background-color: rgb(232, 228, 228);
    border-radius: 25px;
}
/* judul input */
.input-title{
    font-size: 14px;
    font-weight: bold;
    padding-top: 5px;
    padding-left: 10px;
}
/* header halaman */
.title{
    font-weight: lighter;
    text-align: center;
}
/* isi textbox */
.input-isi{
    padding: 10px;
    border: 1px solid #808080;
    border-radius: 10px;
    width: 80%;
    padding-left: 30px;
    background: url(https://icons.veryicon.com/png/o/internet--web/collection-and-payment/pencil-43.png) no-repeat left;
    background-size: 20px;
    background-position: 5px;
    font-size: 15px;
    outline: none;
    margin-left: 10px;
}
.input-isi:focus{
    border:1px solid green;
}
/* tombol hitung & reset */
.tombol-hitung{
    height: 40px;
    width: 90px;
    background-color: #45AAF2;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.tombol-reset{
    height: 40px;
    width: 90px;
    background-color: white;
    color: black;
    border-radius: 5px;
    font-weight: bold;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
}
.tombol-hitung:hover, .tombol-reset:hover, .button-hasil:hover{
    border-radius: 25px;
    transition: 1s;
}
/* list keunggulan */
ol{
    padding-left: 15px;
    font-size: 14px;
}

/* hasil perhitungan*/
.isi-hasil{
text-align: center;
font-size: 30px;
}
/* state awal button hasil */
.button-hasil{
    height: 40px;
    width: 90px;
    background-color: #45AAF2;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    display: none;
    width: 150px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main-hasil{
    background-color: gray;
    width: 100%;
    height: 50%;
}
.bg-store{
    background-size: 20px;
    background-repeat: no-repeat;
}